<nav>
    <ul class="navigation">
        <li class="navigation__item">
            <a href="#" class="navigation__link">Hacker News</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link navigation__item--last">Reddit</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link ">Prodcut Hut</a>
        </li>
    </ul>
</nav>